<%- include('partials/header.ejs') %>
    <h1>Home</h1>
    <p>
        <%=homeContent%>
    </p>
    <!-- <% for( let i=0; i < blogPush.length; i++ ) { %>

        <h3>
            <%=blogPush[i].title %>
        </h3>
        <p>
            <%= blogPush[i].content %>
        </p>

        <% } %> -->

    <% blogPush.forEach(element=> { %>
        <h3>
            <%=element.title %>
        </h3>
        <p>
            <%= element.content %>
        </p>
        <% }) %>

            <%- include('partials/footer.ejs') %>